APP_NAME=Revit

DATABASE_HOST=localhost
DATABASE_USER=bruce
DATABASE_PASSWORD=bruce123
DATABASE_SCHEMA=revit
DATABASE_PORT=5432

ACCESS_SECRET=abcdefghijklmnopqrstuvwxyz
REFRESH_SECRET=abcdefghijklmnopqrstuvwxyzz
ACCESS_TOKEN_EXPIRATION=1
REFRESH_TOKEN_EXPIRES_IN=720

RESET_TOKEN_EXPIRATION=30

MAIL_USER=g3tech@email.com
MAIL_PASS=gaguitchanhas
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465