APP_NAME=Revit

DATABASE_HOST=localhost
DATABASE_USER=bruce
DATABASE_PASSWORD=bruce123
DATABASE_SCHEMA=revit
DATABASE_PORT=5432

ACCESS_SECRET=abcdefghijklmnopqrstuvwxyz
REFRESH_SECRET=abcdefghijklmnopqrstuvwxyzz
ACCESS_TOKEN_EXPIRATION=1
REFRESH_TOKEN_EXPIRES_IN=720

RESET_PASSWORD_SECRET=abcdefghijklmnopqrstuvwxyz
RESET_TOKEN_EXPIRATION=30

MAIL_USER=g3tech@email.com
MAIL_PASS=gaguitchanhas
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465

AWS_ACCESS_KEY_ID=oioioioi
AWS_SECRET_ACESS_KEY=oooooooo
AWS_REGION=us-east-1
# AWS_ENDPOINT_URL=localstack
AWS_BUCKET_NAME=revit-bucket
AWS_CLOUDFRONT_URL=https://g3tech.cloudfront.net
PRESIGNED_PUT_URL_EXPIRATION=5
