services:
  app:
    build: .
    container_name: revit-api
    ports:
      - "3000:8080"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
      - .:/app/tmp
    command: ["air", "-c", ".air.toml"]

  postgres:
    image: postgres:18
    container_name: postgres18
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_SCHEMA}
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
