services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: revit-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      postgres:
       condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app:cached
    working_dir: /app
    restart: unless-stopped

  postgres:
    image: postgis/postgis:18-3.6
    container_name: postgres18
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_SCHEMA}
      PGDATA: /var/lib/postgresql/18
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - ./src/db/init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_SCHEMA}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis
    container_name: revit-redis
    ports:
      - "${REDIS_PORT}:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
